{% extends 'base.html.twig' %}

{% block main %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h5 class="card-header text-center">{{ participant.pseudo }}</h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Prénom :</strong> {{ participant.firstname }}</li>
                            <li class="list-group-item"><strong>Nom :</strong> {{ participant.name }}</li>
                            <li class="list-group-item"><strong>Téléphone :</strong> {{ participant.phonenumber }}</li>
                            <li class="list-group-item"><strong>Email :</strong> {{ participant.email }}</li>
                            <li class="list-group-item"><strong>Site de rattachement :</strong> {{ participant.site.nom }}</li>
                        </ul>
                        {% if is_granted('ROLE_ADMIN') %}
                            <form action="{{ path('participant_toggle_active', {'id': participant.id}) }}" method="post" class="mt-3">
                                <button type="submit" class="btn btn-danger">Rendre inactif</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="text-center mt-3">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
